<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nullcat.sckj.mapper.UserMapper">
    <!-- 动态更新用户信息 -->
    <update id="updateInfo" parameterType="cn.nullcat.sckj.pojo.User">
        update user
        <set>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="creditScore != null">credit_score = #{creditScore},</if>
            <if test="identity != null">identity = #{identity},</if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>
    <select id="getAllUsers" resultMap="userWithRoleMap">
        SELECT
            u.id, u.username, u.real_name, u.email, u.phone, u.role_id, u.status, u.create_time, u.update_time,
            u.credit_score, u.identity,
            r.role_name as role_name
        FROM user u
                 LEFT JOIN role r ON u.role_id = r.id
    </select>

    <!-- 根据用户ID查询角色ID -->
    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
        SELECT role_id FROM user WHERE id = #{userId}
    </select>

    <resultMap id="userWithRoleMap" type="cn.nullcat.sckj.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="roleId" column="role_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="roleName" column="role_name"/>
        <result property="creditScore" column="credit_score"/>
        <result property="identity" column="identity"/>
    </resultMap>
</mapper> 